<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    pre {
      border: 2px solid gray; padding: 5px;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    }
    .container { padding: 2em; }
    label { display:block; }
  </style>
</head>
<body>
  <div class="container">
