<% include ../partials/header %>
<p>You can share your secret with this link (It will only work once):</p>
<p>
<%=protocol %>://<%=host %>/view?token=<%=token %>&amp;nonce=<%=nonce %>
</p>
<a href="/">Go home</a>
<% include ../partials/footer %>
